
.registerContainer{
    color:rgb(75, 89, 167);
}

@media (max-width: 500px) {
    .login, .register {
        text-align: center;
    }

    .login input, .register input {
        padding: 10px 45px;
        background: white;
        margin: 3% 2% 0;
        border: 1px solid gray;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .login h2{
        padding-top:20px;
    }

    .register h2{
        padding-top:20px;
    }

    .signIn{
        margin-top:20px;
        color:grey;
    }

    .register{
        margin-top:20px;
        color:grey;
    }

    .signUp{
        padding-top:20px;
    }

    .backButton{
        margin-top:20px;
        margin-right:300px;
    }

    .acornIcon{
        margin-top:80px;
    }

    .registerAcorn{
        margin-top:30px;
    }
}

@media (min-width: 500px) {
    .login, .register {
        text-align: center;
    }

    .login input, .register input {
        border: 1px solid #D5D5D5;
        padding: 5px;
        border-radius: 6px;
        text-align: center;
        width: 20%;
        margin-left: 20px;
    }

    .login h2 {
        padding-top:30px;
        margin-left: 10px;
    }

    .register h2{
        padding-top: 30px;
    }

    .signIn{
        margin-top:20px;
        margin-left: 20px;
    }

    .signUp{
        padding-top:20px;
        margin-left: 20px;
        color: rgb(75, 89, 167)
    }

    .signUpLink{
        text-align: center;
        color: rgb(75, 89, 167)
    }

    .signUpLink:hover {
        color: rgb(64, 84, 178);
    }

    .backButton{
        display: none;
    }

    .registerContainer{
        background-color: whitesmoke;
    }

    h2{
        color: rgb(75, 89, 167)
    }

    .btn.btn-primary.signIn {
        background-color: rgb(64, 84, 178);
        border-color: rgb(64, 84, 178)
    }

    .fureverFriendsLogo {
        margin-top: 25px;
    }

}